* {
    margin: 0;
    padding: 0;
    border:none;
    background-color: rgb(39, 44, 44);
    /*-webkit-tap-highlight-color: transparent;*/
}
html, body{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
}
.progress-container{
    height: 0.8rem;
    width: 32rem;
}